@require 'theme'

a
  color: $.info.b
  &:focus, &:hover
    color: $.info.a

input, button
  padding: 0 1em
  line-height: 2
  transition: all .25s
  border-radius: $.radius.a

  color: $.fg.b
  border: 1px solid $.br.b
  background-color: $.bg.b

  &:focus
    border: 1px solid $.br.c

  &:hover
    border: 1px solid $.br.d

input:not(:placeholder-shown)
  &:valid
    border-color: $.ok.a

  &:invalid
    border-color: $.err.a

.btn
  display inline-flex
  align-items center
  justify-content center
  min-width fit-content

.btn.ok
  colorize('ok', 'b', 'a', 'c')

.btn.info
  colorize('info', 'b', 'a', 'c')

.btn.warn
  colorize('warn', 'b', 'a', 'c')

.btn.err
  colorize('err', 'b', 'a', 'c')

.btn-group
  display         : flex
  flex-wrap       : wrap
  align-items     : center
  flex-direction  : row
  justify-content : flex-start
  border-radius   : $.radius.a
  padding         : 0
  border          : 1px solid $.fg.b
  button
    border: none;
    border-radius: 0;
    &:not(:first-child)
      box-shadow: inset 1px 0 0 $.fg.b

form
  color: $.fg.b
  // border-radius: $.radius.b
  // box-shadow: 0 0 0 1px $.br.a

  blockquote
    margin      : 1em
    padding     : 1em
    font-style  : italic
    border-left : 4px solid $.ok.a
    font-size   : $.font.size.b
    &:empty
      display: none
    &.err
      border-left-color: $.err.a

  header
    .title
      line-height    : 3
      padding        : 0 1em
      font-size      : 1.25em
      text-transform : capitalize
  main
    box-shadow: inset 0 1px 0 $.br.a, inset 0 -1px 0 $.br.a

  fieldset
    padding     : 1em
    display     : flex
    align-items : center
    box-shadow  : inset 0 1px 0 $.br.a
    &:last-child
      box-shadow: inset 0 1px 0 $.br.a ,inset 0 -1px 0 $.br.a
    label
      padding    : 0 1em
      line-height: 2
      text-align : right
      flex: 1
      & + input,
      & + select
        flex: 3

  select
    cursor            : pointer
    color             : $.fg.b
    border            : 1px solid $.br.b
    border-radius     : $.radius.a
    display           : inline-block
    padding           : 0 4em 0 1em
    line-height       : 2em
    appearance        : none
    background-repeat : no-repeat
    background-color  : $.bg.b
    background-image  :
      linear-gradient(45deg, transparent 50%, $.br.b 50%),
      linear-gradient(135deg, $.br.b 50%, transparent 50%),
      linear-gradient(to right, $.br.b, $.br.a)

    background-position:
      calc(100% - 1rem) 50%,
      calc(100% - 0.7rem) 50%,
      calc(100% - 2rem) 0

    background-size: 5px 5px, 5px 5px, 1px 2rem
    &:hover, &:focus
      border: 1px solid $.br.d
      background-image:
        linear-gradient(45deg, transparent 50%, $.br.d 50%),
        linear-gradient(135deg, $.br.d 50%, transparent 50%),
        linear-gradient(to right, $.br.d, $.br.d)

  footer
    display         : flex
    height          : 4em
    padding         : 1em
    align-items     : center
    justify-content : space-between
