@require 'theme'
@require 'reset'

body
  line-height: 1
  font: $.font.size.a/$.font.size.b $.font.family
  background-color: $.bg.b
  color: $.fg.b

ws-router
  display: block
  height: 100%

@require 'buttons'

form
  border-radius: $.radius.b
  box-shadow: 0 0 0 1px $.br.a
  fieldset
    padding: 1em
    border-bottom: 1px solid $.br.a
    &:last-child
      border-bottom-width: 0

pre
  margin: 1em
  padding: 1em
  border: $.br.a
  border-radius: $.radius.b
  background-color: $.bg.b
  color: $.fg.b
  transition: all .3s
  &:focus
    outline: none
    background-color: $.bg.c

dialog
  width: 32rem
  padding: 1rem
  margin: 4rem auto
  border: 1px solid $.fg.b
  background: $.bg.b
  border-radius: $.radius.a
  box-shadow: 0 2px 5px $.shd.a


.grid-box
  display: grid;
  grid-template: "top top" 4rem "side page" 1fr / 10rem 1fr;

  .grid.head
    grid-area: top
    box-shadow: 0 1px 0 $.br.a
    display: flex
    flex-direction: row
    justify-content: space-between
    align-items: center
    padding: 0 1rem
    a.logo
      font-size: 4em

  .grid.side
    grid-area: side
    box-shadow: 1px 0 0 $.br.a
    a
      display: flex
      padding: 0 1em
      align-items: center
      justify-content: space-between
      line-height: 3
      &:hover
        background-color: $.br.a

  .grid.page
    grid-area: page
    overflow-y: auto


