:root {
  --c-bg  : #303841;
  --c-bg-1: #424e5a;
  --c-bg-2: #272e36;
  --c-bg-3: #1f262e;
  --c-bg-4: #151a20;

  --c-fg:   #adbac7;
  --c-fg-1: #727c86;
  --c-fg-2: #b1c2d5;

  --c-br:   rgba(205, 215, 230, .1);
  --c-br-1: rgba(205, 215, 230, .25);

  --c-shd:  rgba(148, 148, 148, 0.2);
  --c-shd-1:rgba(0, 0, 0, .3);

  --c-ok:    #9be9a8;
  --c-ok-1:  #40c463;
  --c-ok-2:  #30a14e;
  --c-ok-3:  #216e39;

  --c-wrn:   #ffee4a;
  --c-wrn-1: #ffc501;
  --c-wrn-2: #fe9600;
  --c-wrn-3: #ff7b00;

  --c-err:   #ff5874;
  --c-err-1: #f0415e;
  --c-err-2: #df2e4b;
  --c-err-3: #cf1938;

  --c-info:  #6cb6ff;
  --c-info-1:#519ae4;
  --c-info-2:#3781ca;
  --c-info-3:#2166ac;

  --lh: 1;
  --lh-ui: 2;
  --pad: 1em;
  --rds: 3px;
  --fnt: PT Mono;
  --fnt-size: 12px;
  --fnt-medium: 16px;
  --fnt-big: 20px;
  --brd-main: inset 0 0 0 1px var(--c-br);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}


body {
  height: 100%;
  font-family: var(--fnt);
  font-size: var(--fnt-size);
  line-height: var(--lnh);
  color: var(--c-fg);
  background-color: var(--c-bg);
}

ul { list-style: none; }

a {
  color: var(--c-info);
  text-decoration: none;
}
a:focus, a:hover {
  outline: none;
  color: var(--c-info-1);
}

a, button {
  cursor: pointer;
}

input, button {
  transition: all .25s;
  color: var(--c-fg-1);
  border: 1px solid var(--c-fg-1);
  background: var(--c-bg);

  padding: 0 var(--pad);
  line-height: var(--lh-ui);
  border-radius: var(--rds);
  box-shadow: none;
}

input:focus, button:focus,
input:hover, button:hover {
  outline: none;
  color: var(--c-fg-2);
  background: var(--c-bg-1);
}

form {
  border-radius: var(--rds);
  border: 1px solid var(--c-fg-1);
}

fieldset {
  border: none;
  background: var(--c-bg);
  padding: 0 var(--pad);
  box-shadow: 0 1px 0 var(--c-fg-1)
}

fieldset:last-child {
  box-shadow: none
}

pre {
  padding: 1em;
  margin: 1em;
  border-radius: var(--rds);
  background-color: var(--bg-dark);
  color: var(--clr-dark);
  transition: all .3s;
}
pre:focus {
  outline: none;
  background-color: lightyellow;
  background-color: var(--bg-dark-focus);
}

dialog {
  width: 32rem;
  padding: 1rem;
  margin: 0 auto;
  border: 1px solid var(--c-fg-1);
  background: var(--c-bg);
  border-radius: var(--rds);
  box-shadow: 0 2px 5px var(--c-shd-1);
}


.row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 1px var(--clr-brd);
  line-height: 3;
}


/**
 * Table
 */


.row > * {
  flex: 1;
  padding: 0 var(--pad);
}

.row > ul {
  box-shadow: 1px 0 0 #ccc;
}

.row dfn {
  margin-right: 1em;
  font-weight: bold;
}

.row .type,
.row kbd {
  margin: 0 2px;
  padding: 0 .5em;
  background: #eee;
  border-radius: var(--rds);
  box-shadow: inset 0 0 0 1px;
  text-decoration: none;
  display: inline-block;
  line-height: var(--lh-ui);
}

.row .type.boolean {
  color: revert;
  background: plum;
}

.row .type.number {
  color: revert;
  background: salmon;
}

.row .type.string {
  color: revert;
  background: darks;
}

.grid-box {
  height: 100%;
  display: grid;
  grid-template: "top top" 4rem "side main" 1fr / 10rem 1fr;
}

.grid.head {
  grid-area: top;
  box-shadow: 0 1px 0 var(--c-br);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}


.grid.side {
  grid-area: side;
  box-shadow: 1px 0 0 var(--c-br);
}

.grid.main {
  grid-area: main;
  overflow-y: auto;
}

.grid.side a {
  display: block;
  padding: 0 1rem;
  line-height: 2;
}

.tabs .tabs-head {
  padding: 0 1rem;
  line-height: 4;
  box-shadow: 0 1px 0 var(--c-br);
}

.tabs .tab {
  display: none;
}

.tabs .tab:target {
  padding: 1rem;
  display: block;
}

.tab legend, .tab label, .tab input {
  display: block;
  margin-bottom: 1em;
}

.tab legend {
  font-weight: bold;
  margin-bottom: 1em;
  text-transform: capitalize;
  text-decoration: underline;
}

.tabs .tab pre {
  padding: 1rem;
  border-radius: 3px;
  box-shadow: var(--brd-main);
  white-space: pre-wrap;
}

