:root
  --c-bg    : #303841
  --c-bg-1  : #424e5a
  --c-bg-2  : #272e36
  --c-bg-3  : #1f262e
  --c-bg-4  : #151a20
  --c-fg    : #adbac7
  --c-fg-1  : #b1c2d5
  --c-fg-2  : #727c86
  --c-ok    : #9be9a8
  --c-ok1   : #40c463
  --c-ok2   : #30a14e
  --c-ok3   : #216e39
  --c-wrn   : #ffee4a
  --c-wrn-1 : #ffc501
  --c-wrn-2 : #fe9600
  --c-wrn-3 : #ff7b00
  --c-err   : #ff5874
  --c-err-1 : #f0415e
  --c-err-2 : #df2e4b
  --c-err-3 : #cf1938
  --c-info  : #6cb6ff
  --c-info-1: #519ae4
  --c-info-2: #3781ca
  --c-info-3: #2166ac


  --br  : rgba(205, 215, 230, .1),
  --br1 : rgba(205, 215, 230, .25),
  --shd : rgba(148, 148, 148, 0.2),
  --shd1: rgba(0, 0, 0, .3),

  --rds: 3px
  --fnt: PT Mono
  --fnt-size: 12px
  --brd-main: inset 0 0 0 1px var(--c-br)